.dark-mode {
    background-color: var(--quinary-color);
}

.dark-mode main {
    color: white;
    background-color: var(--quaternary-color);
}

.dark-mode .result span {
    font-weight: bold;
    color: yellow;
}

.dark-mode input {
    background-color: var(--tertiary-color);
} 

.dark-mode button {
    background-color: var(--tertiary-color);
    color: white;
}

.dark-mode button:hover {
    background-color: var(--quinary-color);
    color: white;
}

.dark-mode footer p {
    color: var(--primary-color);
}

.dark-mode footer a {
    color: var(--secondary-color);
}

.dark-mode footer a:hover {
    color: yellow;
}

